body {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;
	background: #F1F1F1;
	color: #c2c2c2;
}

.container {
	width: 50%;
	padding: 0 1%;
	margin: 0 auto;
}

input[type="text"] {
	width: 50%;
	border: none;
	outline: none;

	font-weight: bold;
	font-size: 6rem;
	background: none;
	color: #ec5a62;
}

input[type="text"] + button {
	position: relative;
	top: -30px;
	right: 0;

	width: 65px;
	height: 65px;
	border: none;
	outline: none;

	font-size: 0;
	background: url(../img/magnifier.svg);
}

.list {
	width: 32%;
	display: inline-block;
}

.list ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.list a {
	display: block;
	padding: 10px;
}